---
---
<main class="block" id="text-header">
    <h1>The Aeneid IV (296-303)</h1>
    <p>By <span id="text-author">Virgil</span></p>
    <a id="toggle-language" class="button card" href="#~">Toggle Latin/English</a>
</main>
<section class="block text-lines" id="text-content">
    <p>At regina dolos—-quis fallere possit amantem?<br>praesensit, motusque excepit prima futuros,<br>omnia tuta timens. Eadem impia Fama furenti <br>detulit armari classem cursumque parari.<br>Saevit inops animi, totamque incensa per urbem <br>bacchatur, qualis commotis excita sacris<br>Thyias, ubi audito stimulant trieterica Baccho <br>orgia, nocturnusque vocat clamore Cithaeron.<br></p>
</section>
<section class="block text-lines" id="text-translation">
    <p>But the queen - for who can deceive a lover - detected in advance the tricks<br>fearing where there was nothing to fear first caught wind<br>of the movements that were to come; that same infamous rumour<br>carried down to the frenzied one that the fleet was being equipped and that the course was being prepared.<br>She rages out of her wits and aflame and raves through the whole city<br>like a Bacchunt stirred by the shaking of the sacred emblems<br>when the biennal rites goad her having heard the cry of Bacchus<br>the nighttime mount Cithaeron calls her with the shouting<br></p>
</section>
<section class="block" id="text-analyses">
    <h1>Summary of analyses</h1>
    
    
    <div class="card quotation" id="quis-fallere-possit-amantem">
        <h2>quis fallere possit amantem</h2>
        
        <div class="annotation">
            <h3>Rhetorical Question: </h3><p>The interjection of this rhetorical question shows Dido&#x27;s paranoia, and also separates the tricks (&#x27;dolos&#x27;) from the detection (&#x27;praesensit&#x27;)
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="praesensit-motusque">
        <h2>praesensit motusque</h2>
        
        <div class="annotation">
            <h3>Spondees: </h3><p>High frequency of spondees foreshadows future speed of events
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="fama-furenti">
        <h2>Fama furenti</h2>
        
        <div class="annotation">
            <h3>Alliteration: </h3><p>Rumour (&#x27;Fama&#x27;) is connected to Dido, the frenzied one (&#x27;furenti&#x27;), illustrating Dido&#x27;s craze.
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="armari-classem-cursumque-parari">
        <h2>armari classem cursumque parari</h2>
        
        <div class="annotation">
            <h3>Chiasmus: </h3><p>Sudden balanced phrase shows the efficiency and calm of Aeneas, in contrast to Dido&#x27;s furor
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="saeuit">
        <h2>saeuit</h2>
        
        <div class="annotation">
            <h3>Promoted Verb: </h3><p>Emphasises the immediacy of the raging (&#x27;saeuit&#x27;) of Dido
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="totamque-incensa-per-urbem">
        <h2>totamque incensa per urbem</h2>
        
        <div class="annotation">
            <h3>Enclosing Word Order: </h3><p>Represents Dido&#x27;s rage throughout the city - her flames are spreading from within the whole (&#x27;totamque&#x27;) city (&#x27;urbem&#x27;)
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="sacris-thyias">
        <h2>sacris \ Thyias</h2>
        
        <div class="annotation">
            <h3>Enjambement: </h3><p>Dido&#x27;s actions are so chaotic that they spill onto the next line.
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="vocat-clamore-cithaeron">
        <h2>vocat clamore Cithaeron</h2>
        
        <div class="annotation">
            <h3>Assonance: </h3><p>The &#x27;c&#x27; sound reflects the sound of the call for Dido to join the festival for Bacchus
</p>
        </div>
        
    </div>
    
</section>
<a id="backtotop" class="button" href="#">Top</a>
<script>
 const toggle_language = document.querySelector("#toggle-language");
 const latin = document.querySelector("#text-content");
 const english = document.querySelector("#text-translation");

 function toggleLanguage() {
     if (latin.style.display == "none" && english.style.display == "block") {
         latin.style.display = "block";
         english.style.display = "none";
     } else {
         latin.style.display = "none";
         english.style.display = "block";
     }
 }
 toggle_language.addEventListener("click", toggleLanguage);

 const infoAnnotations = document.querySelector("#info-annotations");
 const annotations = document.querySelectorAll(".annotation");
 const content = document.querySelector("#text-content p");
 var newContent = content.innerHTML;

 for (var i = 0, a; a = annotations[i]; i++) {
     var latinLocations = a.parentNode.querySelector("h2").innerHTML.split(' | ');
     var latinID = a.parentNode.id;

     latinLocations.forEach(function(latinLocation) {
         latinLocation = latinLocation.replace(" \\ ", "<br>");
         var formulatedLink = "<a href='#" + latinID +"'>" + latinLocation + "</a> ";
         if (!newContent.includes('href=\'#' + latinID + '\'') || latinLocations.length > 1) {
             const regex = new RegExp(latinLocation + "[^-(')(/a)]", "gi");
             newContent = newContent.replace(regex, "<span class='highlight'>" + formulatedLink + "</span>");
         }
     });
 }
// newContent.replace("<br>", "<br>");
 content.innerHTML = newContent;
</script>
