---
description: "Take a latin vocab test"
title: "Test"
layout: words
---
<section class="block" id="test-setup">
    <form action="" name="test_form">
        <div class="selection">
            <label for="type">What would you like to be tested on?</label>
            <select name="type" id="type" value="Hi">
                <option value="all">All</option>
                <option value="adj">Adjectives</option>
                <option value="adverb">Adverbs</option>
                <option value="noun">Nouns</option>
                <option value="verb">Verbs</option>
            </select>
        </div>
        <br />
        <div class="selection">
            <label for="amount">How many words do you want?</label>
            <output id="rangevalue">35</output>
            <input type="range" id="amount" name="amount" step="5" min="5" max="470" oninput="rangevalue.value=value"
                value="35">
        </div>
        <br />
        <div class="selection">
            <label for="direction">Which translation direction?</label>
            <div>
                <label for="directionLatinEnglish"><input type="radio" id="directionLatinEnglish" value="latin"
                        name="direction" checked>Latin -> English</label>
                <label for="directionEnglishLatin"><input type="radio" id="directionEnglishLatin" value="english"
                        name="direction">English -> latin</label>
            </div>
        </div>
        <button class="card" id="test-submit">Go!</button>
    </form>
</section>

<div id="take_test">
    <main class="block">
        <h1>Vocabulary Test</h1>
        <p>Give your answers in this format:
        <ul>
            <div id="test_guidance_latin">
                <li>Verbs: all participles (e.g. porto, portare, portavi, portatus)</li>
                <li>Adjectives: nom. singular all genders (e.g. bonus, bona, bonum)</li>
                <li>Nouns: nom. singular and gen. singular + gender (e.g. mare, maris, n)</li>
            </div>
            <div id="test_guidance_english">
                <li>Verbs: give the infinitive without 'to', (e.g. carry)</li>
                <li>Adjectives: give the meaning in the singular</li>
                <li>Nouns: give the meaning in the singular</li>
            </div>
        </ul>
        </p>
        <h2 id="question-track">Question <span id="track_count"></span> out of <span class="track_amount"></span></h2>

        <section class="block" id="test__questions">
            <div class="test__question">
                <p id="test__word"></p>
                <div>
                    <input type="text" value="" class="test__answer" autocomplete="off" name="answer" autofocus>
                    <input type="button" value=">" id="answer_button">
                </div>
            </div>
        </section>
    </main>
</div>

<section class="block" id="test__scores">
    <h1>You scored <span id="corrects"></span> out of <span id="scores__track_amount"></span></h1>
    <h1 id="test__percentage"></h1>
    <div>
        <table id="test__report">
            <tr>
                <th>
                    <h2>Questions</h2>
                </th>
                <th>
                    <h2>Your Answers</h2>
                </th>
                <th>
                    <h2>Correct Answers</h2>
                </th>
            </tr>
        </table>
    </div>
    <a class="card button" id="test__retake" onClick="window.location.reload()" href="">Retake</a>
</section>
<script>


    let corrects = 0;
    let test;
    let userAnswers = [];
    let currentWordIndex = 0;

    const goButton = document.getElementById("test-submit");
    goButton.addEventListener("click", checkInput);
    function checkInput() {
        var success = false;
        var amountValue = document.getElementById("amount").value;
        if (amountValue == 0) {
            document.querySelector("form") += "<h3 id='warning'>You must choose a number greater than 0.</h3>";
        } else {
            success = true;
        }
        if (success === true) {
            startTest();
        }
    }

    // Thanks CSS-Tricks!
    function getQueryVariable(variable) {
        var query = window.location.search.substring(1);
        var vars = query.split("&");
        for (var i = 0; i < vars.length; i++) {
            var pair = vars[i].split("=");
            if (pair[0] == variable) { return pair[1]; }
        }
        return (false);
    }

    window.onload = showAppropriatePane;
    function showAppropriatePane() {
        const isTest = isTestAlreadySet();
        if (isTest) {
            const takeTestPane = document.getElementById("take_test");
            takeTestPane.style.display = "block";
            const formTestPane = document.querySelector("form");
            formTestPane.style.display = "none";
            startTest()
        }
    }

    function isTestAlreadySet() {
        const isType = getQueryVariable("type");
        const isAmount = getQueryVariable("amount");
        const isDirection = getQueryVariable("direction");

        if (isType && isAmount && isDirection) {
            return true;
        } else {
            return false;
        }
    }

    function generateTest() {
        const type = getQueryVariable("type");
        const amount = getQueryVariable("amount");
        const direction = getQueryVariable("direction");

        const allWords = JSON.parse(wordsJSON); // wordsJSON from single.html
        let wordList = [];
        let i = 0;
        while (i < amount) {
            let word = allWords[allWords.length * Math.random() | 0];
            if (type == "all") {
                wordList.push(word);
                i++;
            } else if (word.type.includes(type)) {
                wordList.push(word);
                i++;
            }
        }

        return { "direction": direction, "amount": amount, "type": type, "words": wordList };
    }

    function startTest() {
        const takeTestPane = document.getElementById("take_test");
        takeTestPane.style.display = "block";
        const formTestPane = document.querySelector("form");
        formTestPane.style.display = "none";

        const english_guidance = document.querySelector("#test_guidance_english");
        const latin_guidance = document.querySelector("#test_guidance_latin");
        test = generateTest();
        if (test.direction == "english") {
            latin_guidance.style.display = "block";
            english_guidance.style.display = "none";
        } else if (test.direction == "latin") {
            latin_guidance.style.display = "none";
            english_guidance.style.display = "block";
        }
        document.querySelector(".track_amount").innerHTML = test.amount + "";
        document.querySelector("#scores__track_amount").innerHTML = test.amount + "";

        nextWord(test, 0);
    }

    const answerButton = document.querySelector("#answer_button");
    answerButton.addEventListener("click", nextWord);

    const answerInput = document.querySelector(".test__answer");
    answerInput.addEventListener('keypress', function (e) {
        var key = e.which || e.keyCode;
        if (key === 13) {
            nextWord();
        }
    });

    function checkAnswer() {
        let correctAnswer;
        if (test.direction == "latin") {
            correctAnswer = test.words[currentWordIndex - 1].english;
        } else if (test.direction == "english") {
            correctAnswer = test.words[currentWordIndex - 1].latin;
        }
        let isCorrect = (answerInput.value == correctAnswer);
        if (isCorrect) {
            corrects++;
        }
        userAnswers.push(answerInput.value);
    }

    const currentWord = document.querySelector("#test__word");
    const questionN = document.querySelector("#track_count");
    function nextWord() {
        if (currentWordIndex != 0) {
            checkAnswer();
        }
        if (currentWordIndex == test.words.length) {
            endTest();
        } else {
            answerInput.value = "";
            answerInput.focus();
            questionN.innerHTML = (currentWordIndex + 1) + "";
            if (test.direction == "latin") {
                currentWord.innerHTML = test.words[currentWordIndex].latin;
            } else if (test.direction == "english") {
                currentWord.innerHTML = test.words[currentWordIndex].english;
            }
            currentWordIndex++;
        }
    }

    function endTest() {
        const takeTestPane = document.getElementById("take_test");
        takeTestPane.style.display = "none";

        const testScorePane = document.getElementById("test__scores");
        testScorePane.style.display = "block";

        const testCorrects = document.getElementById("corrects");
        testCorrects.innerHTML = corrects + "";

        const scoreTable = document.getElementById("test__report");
        for (i = 0; i < test.words.length; i++) {
            let word = test.words[i];
            let question, answer;
            if (test.direction == "latin") {
                question = word.latin;
                answer = word.english;
            } else if (test.direction == "english") {
                question = word.english;
                answer = word.latin;
            }
            let tableRow = "<td>" + question + "</td><td>" + userAnswers[i] + "</td><td>" + answer + "</td></tr>";
            if (answer == userAnswers[i]) {
                scoreTable.innerHTML += "<tr class='test__correct'>" + tableRow;
            } else {
                scoreTable.innerHTML += "<tr>" + tableRow;
            }
        }
    }
</script>
