---
---
<main class="block" id="text-header">
    <h1>The Aeneid IV (288-295)</h1>
    <p>By <span id="text-author">Virgil</span></p>
    <a id="toggle-language" class="button card" href="#~">Toggle Latin/English</a>
</main>
<section class="block text-lines" id="text-content">
    <p>Mnesthea Sergestumque vocat fortemque Serestum,<br>classem aptent taciti sociosque ad litora cogant,<br>arma parent et quae rebus sit causa novandis <br>dissimulent; sese interea, quando optima Dido<br>nesciat et tantos rumpi non speret amores,<br>temptaturum aditus et quae mollissima fandi<br>tempora, quis rebus dexter modus. ocius omnes<br>imperio laeti parent et iussa facessunt.</p>
</section>
<section class="block text-lines" id="text-translation">
    <p>He called upon Mnesthus, Sergestus and brave Serestem<br>to silently prepare the fleet and gather the allies at the shore<br>to prepare the equipment, and to conceal the cause<br>of his altered plans; he, meanwhile, since the very good Dido<br>did not know that such a great love would be shattered,<br>he would try to approach, and seek the most gentle<br>time, and the best way to handle the matter. All<br> happily received the order and carried out the order.<br></p>
</section>
<section class="block" id="text-analyses">
    <h1>Summary of analyses</h1>
    
    
    <div class="card quotation" id="mnesthea">
        <h2>Mnesthea</h2>
        
        <div class="annotation">
            <h3>Greek Accusative: </h3><p>The Greek accusative is used here to hail back to Homer&#x27;s Odyssey
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="fortemque-serestum">
        <h2>fortemque Serestum</h2>
        
        <div class="annotation">
            <h3>Imitation of Homer: </h3><p>Classic use of an epithet, hailing back to Homer&#x27;s Odyssey
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="aptent-taciti">
        <h2>aptent taciti</h2>
        
        <div class="annotation">
            <h3>Consonants: </h3><p>Quick use of &#x27;t&#x27; sound conveys the speed of action seen in Aeneas
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="arma">
        <h2>arma</h2>
        
        <div class="annotation">
            <h3>Word choice: </h3><p>Foreshadows future conflict both &#x27;arma&#x27;, meaning equipment here, but could also mean weapons
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="rebus-sit-causa-novandis">
        <h2>rebus sit causa novandis</h2>
        
        <div class="annotation">
            <h3>Enclosing Word order: </h3><p>The cause (&#x27;causa&#x27;) is literally concealed in the sentence, between the plans (&#x27;rebus&#x27;) and altered (&#x27;novandis&#x27;)
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="nesciat">
        <h2>nesciat</h2>
        
        <div class="annotation">
            <h3>Promoted Verb: </h3><p>Emphasises the &#x27;not knowing&#x27; (&#x27;nesciat&#x27;) of Dido
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="rumpi">
        <h2>rumpi</h2>
        
        <div class="annotation">
            <h3>Emphatic Word Order: </h3><p>This word literally breaks up (&#x27;rumpi&#x27;) the sentence, emphasising the shattering of their love
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="imperio-laeti-parent-et-iussa-facessunt">
        <h2>imperio laeti parent et iussa facessunt</h2>
        
        <div class="annotation">
            <h3>Parallelism: </h3><p>This sentence is in two parts: &#x27;imperio laeti parent&#x27; and &#x27;et iussa facessunt&#x27;, showing how Aeneas&#x27; mentality has been restored (the orders have been received and carried out)
</p>
        </div>
        
    </div>
    
</section>
<a id="backtotop" class="button" href="#">Top</a>
<script>
 const toggle_language = document.querySelector("#toggle-language");
 const latin = document.querySelector("#text-content");
 const english = document.querySelector("#text-translation");

 function toggleLanguage() {
     if (latin.style.display == "none" && english.style.display == "block") {
         latin.style.display = "block";
         english.style.display = "none";
     } else {
         latin.style.display = "none";
         english.style.display = "block";
     }
 }
 toggle_language.addEventListener("click", toggleLanguage);

 const infoAnnotations = document.querySelector("#info-annotations");
 const annotations = document.querySelectorAll(".annotation");
 const content = document.querySelector("#text-content p");
 var newContent = content.innerHTML;

 for (var i = 0, a; a = annotations[i]; i++) {
     var latinLocations = a.parentNode.querySelector("h2").innerHTML.split(' | ');
     var latinID = a.parentNode.id;

     latinLocations.forEach(function(latinLocation) {
         latinLocation = latinLocation.replace(" \\ ", "<br>");
         var formulatedLink = "<a href='#" + latinID +"'>" + latinLocation + "</a> ";
         if (!newContent.includes('href=\'#' + latinID + '\'') || latinLocations.length > 1) {
             const regex = new RegExp(latinLocation + "[^-(')(/a)]", "gi");
             newContent = newContent.replace(regex, "<span class='highlight'>" + formulatedLink + "</span>");
         }
     });
 }
// newContent.replace("<br>", "<br>");
 content.innerHTML = newContent;
</script>
