---
layout: list
---
<main class="block" id="literature-header">
    <h2>Literature</h2>
</main>

<section class="block" id="literature-texts">

    <a class="text-card card" href="/literature/the-power-of-the-druids/">
        <h3>Caesar: The Power of the Druids</h3>
    </a>

    <a class="text-card card" href="/literature/the-education-of-the-druids/">
        <h3>Caesar: The Education of the Druids</h3>
    </a>

    <a class="text-card card" href="/literature/the-religion-of-the-druids/">
        <h3>Caesar: The Religion of the Druids</h3>
    </a>

    <a class="text-card card" href="/literature/the-invasion-of-mona/">
        <h3>Tacitus: The Invasion of Mona</h3>
    </a>

    <a class="text-card card" href="/literature/boudiccas-rebellion-i/">
        <h3>Tacitus: Boudicca&#x27;s Rebellion I</h3>
    </a>

    <a class="text-card card" href="/literature/boudiccas-rebellion-ii/">
        <h3>Tacitus: Boudicca&#x27;s Rebellion II</h3>
    </a>

    <a class="text-card card" href="/literature/boudiccas-rebellion-iii/">
        <h3>Tacitus: Boudicca&#x27;s Rebellion III</h3>
    </a>

    <a class="text-card card" href="/literature/the-aeneid-iv-279-287/">
        <h3>Virgil: The Aeneid IV (279-287)</h3>
    </a>

    <a class="text-card card" href="/literature/the-aeneid-iv-288-295/">
        <h3>Virgil: The Aeneid IV (288-295)</h3>
    </a>

    <a class="text-card card" href="/literature/the-aeneid-iv-296-303/">
        <h3>Virgil: The Aeneid IV (296-303)</h3>
    </a>

    <a class="text-card card" href="/literature/the-aeneid-iv-304-312/">
        <h3>Virgil: The Aeneid IV (304-312)</h3>
    </a>

    <a class="text-card card" href="/literature/the-aeneid-iv-313-319/">
        <h3>Virgil: The Aeneid IV (313-319)</h3>
    </a>

    <a class="text-card card" href="/literature/the-aeneid-iv-331-340/">
        <h3>Virgil: The Aeneid IV (331-340)</h3>
    </a>

    <a class="text-card card" href="/literature/the-aeneid-iv-341-350/">
        <h3>Virgil: The Aeneid IV (341-350)</h3>
    </a>

    <a class="text-card card" href="/literature/the-aeneid-iv-351-361/">
        <h3>Virgil: The Aeneid IV (351-361)</h3>
    </a>

    <a class="text-card card" href="/literature/the-aeneid-iv-381-396/">
        <h3>Virgil: The Aeneid IV (381-396)</h3>
    </a>

</section>
