---
---
<main class="block" id="text-header">
    <h1>The Education of the Druids</h1>
    <p>By <span id="text-author">Caesar</span></p>
    <a id="toggle-language" class="button card" href="#~">Toggle Latin/English</a>
</main>
<section class="block text-lines" id="text-content">
    <p>Druides a bello abesse solent neque tribute una cum reliquis pendunt militiae vacationem omniumque rerum immunitatem habent. tantis praemiis excitati et sua sponte multi in disciplinam convenient et a parentibus propinquisque mittuntur. magnum ibi numerum versuum ediscere discuntur; itaque nonnulli viginti annos in disciplina permanent. neque fas esse existimant hos versus litteris mandare, cum in reliquis fere rebus Graecis litteris utantur. id mihi duabus de causis instituisse videntur, quod neque in vulgum disciplinam efferi velint, neque eos, qui discunt, litteris confisos minus memoriae studere. in primis hoc volunt, persuadere, animas non perire, sed ab allis post mortem transire ad alios, atque hoc maxime homines ad virtutem excitari putant metu mortis neglecto. multa praeterea, de sideribus atque eorum motu, de mundi ac terrarium magnitudine, de rereum nature, de deorum immortalium vi ac potestate disputant et iuventuti tradunt.</p>
</section>
<section class="block text-lines" id="text-translation">
    <p>The Druids are accustomed to being away from war and withhold tributes with the rest. They have leave from military service and a dispensation in all matters. Having been excited by such benefits, many join on their own accord and many are sent by their parents and relatives. They are said to learn a great number of verses there; and so, some will remain in training for twenty years. They think that it is not correct to commit these verses to writing although in almost all other matters, they use Greek letters. These things seem to me to have been put in place for two reasons: because they do not want their study to be carried out in the public and neither do they want those, who learn, to study less with memory having relied on writing. They want to establish this amoungst their leading ideas, that souls do not perish but transfer from one body to another after death, and they think that with this very great idea, men are roused to honour, with the fear of death having been neglected. Meanwhile, they discuss and tell young men many things about the stars and their movements, about the extent of the universe and our world, about the nature of all things and about the strength and power of the immortal gods.<br></p>
</section>
<section class="block" id="text-analyses">
    <h1>Summary of analyses</h1>
    
    
    <div class="card quotation" id="vacationem-omniumque-rerum-immunitatem">
        <h2>vacationem omniumque rerum immunitatem</h2>
        
        <div class="annotation">
            <h3>Chiasmus: </h3><p>All things (&#x27;omniumque rerum&#x27;) is surrounded by two words meaning exemption (&#x27;vacationem&#x27;) and (&#x27;immunitatem&#x27;), emphasising the Druids exemption
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="tantis-praemiis">
        <h2>tantis praemiis</h2>
        
        <div class="annotation">
            <h3>Hyperbaton: </h3><p>Forces the benefits (&#x27;praemiis&#x27;) to the front of the sentence, emphasising focus upon it from those who want to learn
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="magnum-ibi-numerum-versuum">
        <h2>magnum ibi numerum versuum</h2>
        
        <div class="annotation">
            <h3>Homeoteuleuton: </h3><p>The repetition of the &#x27;um&#x27; sound reinforces the great amount of literature that the Druids must learn
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="fas">
        <h2>fas</h2>
        
        <div class="annotation">
            <h3>Word choice: </h3><p>This is a very powerful word (meaning &#x27;right&#x27; or &#x27;just&#x27;) emphasises the moral implications of writing verses down
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="mihi">
        <h2>mihi</h2>
        
        <div class="annotation">
            <h3>Word choice: </h3><p>Introduces words from Caesar, reminding us of his presence
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="ab-allis-post-mortem-transire-ad-alios">
        <h2>ab allis post mortem transire ad alios</h2>
        
        <div class="annotation">
            <h3>Emphatic Sentence: </h3><p>The souls (&#x27;allis&#x27; and &#x27;alios&#x27;), move across the sentence - between those two words - as they move between bodies, emphasis upon the movement
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="hoc-maxime">
        <h2>hoc maxime</h2>
        
        <div class="annotation">
            <h3>Superlative: </h3><p>Emphasises the gravity of the idea of a soul moving from body to body
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="metu-mortis-neglecto">
        <h2>metu mortis neglecto</h2>
        
        <div class="annotation">
            <h3>Hyperbaton: </h3><p>Phrase is placed on the end of the sentence to show that the influence of the idea is worthy of attention
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="de-sideribus-atque-eorum-motu">
        <h2>de sideribus atque eorum motu</h2>
        
        <div class="annotation">
            <h3>Climactic List: </h3><p>The list begins with the stars (&#x27;sideribus&#x27;), goes on to the universe (&#x27;mundi&#x27;), everything (&#x27;rereum&#x27;), and the gods (&#x27;deorum&#x27;) - the most significant
</p>
        </div>
        
        <div class="annotation">
            <h3>Long Sentence: </h3><p>This sentence is very long, almost making the reader out of breath, emphasising the the great number of things that the Druids discuss
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="deorum-immortalium">
        <h2>deorum immortalium</h2>
        
        <div class="annotation">
            <h3>Pleonasm: </h3><p>This sarcasm mocks the Druids and their beliefs
</p>
        </div>
        
    </div>
    
</section>
<a id="backtotop" class="button" href="#">Top</a>
<script>
 const toggle_language = document.querySelector("#toggle-language");
 const latin = document.querySelector("#text-content");
 const english = document.querySelector("#text-translation");

 function toggleLanguage() {
     if (latin.style.display == "none" && english.style.display == "block") {
         latin.style.display = "block";
         english.style.display = "none";
     } else {
         latin.style.display = "none";
         english.style.display = "block";
     }
 }
 toggle_language.addEventListener("click", toggleLanguage);

 const infoAnnotations = document.querySelector("#info-annotations");
 const annotations = document.querySelectorAll(".annotation");
 const content = document.querySelector("#text-content p");
 var newContent = content.innerHTML;

 for (var i = 0, a; a = annotations[i]; i++) {
     var latinLocations = a.parentNode.querySelector("h2").innerHTML.split(' | ');
     var latinID = a.parentNode.id;

     latinLocations.forEach(function(latinLocation) {
         latinLocation = latinLocation.replace(" \\ ", "<br>");
         var formulatedLink = "<a href='#" + latinID +"'>" + latinLocation + "</a> ";
         if (!newContent.includes('href=\'#' + latinID + '\'') || latinLocations.length > 1) {
             const regex = new RegExp(latinLocation + "[^-(')(/a)]", "gi");
             newContent = newContent.replace(regex, "<span class='highlight'>" + formulatedLink + "</span>");
         }
     });
 }
// newContent.replace("<br>", "<br>");
 content.innerHTML = newContent;
</script>
