---
---
<main class="block" id="text-header">
    <h1>Boudicca&#x27;s Rebellion II</h1>
    <p>By <span id="text-author">Tacitus</span></p>
    <a id="toggle-language" class="button card" href="#~">Toggle Latin/English</a>
</main>
<section class="block text-lines" id="text-content">
    <p>iam Suetonio errant quarta decima legio cum vexillaries vicensimae et e proximis auxiliaries, decem ferme milia armatorum: comnetendere et acie congredi parat. eligitque locum angustis faucibus et a tergo silvis clausum; sciebat enim nihil hostium esse nisi in fronte, et apertam esse planitiem sine menu insidiarum. igitur legionarii instructi sunt frequentes ordinibus, levi armature circumstante; equites conglobate pro cornibus adstiterunt. at Britannorum copiae passim per catervas et turmas exultabant, tanta multitude quanta non alias, et animo adeo feroci ut coniuges quoque testes victoriae secum traherent, plaustrisque imponerent quae ad extremam planitiem posuerant.</p>
</section>
<section class="block text-lines" id="text-translation">
    <p>Now, Suetonius had the fourteenth legion with detachments of the twentieth and auxillaries from neighbouring areas, about ten thousand armed men. He prepared to make haste and join battle. And he chose a place with narrow defiles and shut off from the rear by woods. For he knew that there was nothing of the enemy except in front of him and the plain was open without the fear of ambush. Therefore the legionaries were drawn up in close formation, with lightly armed troops stationed around; the massed cavalry stood by on the wings. But the forces of the Britons were rushing about wildly everywhere in groups of infantry and troops of cavalry, as great a crowd as at no other time and in such ferocious spirit that they brought with them their wives also as witnesses of their victory, and they put them in wagons which they had placed at the edge of the plain.<br></p>
</section>
<section class="block" id="text-analyses">
    <h1>Summary of analyses</h1>
    
    
    <div class="card quotation" id="decem-ferme-milia-armatorum">
        <h2>decem ferme milia armatorum</h2>
        
        <div class="annotation">
            <h3>Alliteration: </h3><p>The repetition of &#x27;m&#x27; sounds creates sympathy for the Romans since they are outnumbered
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="comntendere-et-acie-congredi-parat">
        <h2>comntendere et acie congredi parat</h2>
        
        <div class="annotation">
            <h3>Short Sentence: </h3><p>Shows the simplicity of the concise plan that the Romans have devised
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="locum-angustis-faucibus-et-a-tergo-silvis-clausum">
        <h2>locum angustis faucibus et a tergo silvis clausum</h2>
        
        <div class="annotation">
            <h3>Enclosing Word order: </h3><p>The word closed (&#x27;clausum&#x27;) is literally shutting off the back of the sentence, reflecting the meaning
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="sciebat">
        <h2>sciebat</h2>
        
        <div class="annotation">
            <h3>Verbs: </h3><p>This verb, and the many others, show the effectiveness of the Roman army
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="legionarii-levi-armature-equites">
        <h2>legionarii | levi armature | equites</h2>
        
        <div class="annotation">
            <h3>Tricolon: </h3><p>The tricolon of &#x27;legionarii&#x27;, &#x27;levi armature&#x27;, and &#x27;equites&#x27;, shows the three divisions of the army, emphasising its professionality
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="at-britannorum-copiae">
        <h2>at Britannorum copiae</h2>
        
        <div class="annotation">
            <h3>Long Sentence: </h3><p>The sentence that begins as such represents the chaos of the opposing Britons, in contrast to the short sentences of the Roman army
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="exultabant-tanta-multitude-quanta-non-alias">
        <h2>exultabant, tanta multitude quanta non alias,</h2>
        
        <div class="annotation">
            <h3>Asyndeton: </h3><p>The heft of commas here makes the reader speed up their reading of the passage in order to show the chaos of the Britons
</p>
        </div>
        
    </div>
    
</section>
<a id="backtotop" class="button" href="#">Top</a>
<script>
 const toggle_language = document.querySelector("#toggle-language");
 const latin = document.querySelector("#text-content");
 const english = document.querySelector("#text-translation");

 function toggleLanguage() {
     if (latin.style.display == "none" && english.style.display == "block") {
         latin.style.display = "block";
         english.style.display = "none";
     } else {
         latin.style.display = "none";
         english.style.display = "block";
     }
 }
 toggle_language.addEventListener("click", toggleLanguage);

 const infoAnnotations = document.querySelector("#info-annotations");
 const annotations = document.querySelectorAll(".annotation");
 const content = document.querySelector("#text-content p");
 var newContent = content.innerHTML;

 for (var i = 0, a; a = annotations[i]; i++) {
     var latinLocations = a.parentNode.querySelector("h2").innerHTML.split(' | ');
     var latinID = a.parentNode.id;

     latinLocations.forEach(function(latinLocation) {
         latinLocation = latinLocation.replace(" \\ ", "<br>");
         var formulatedLink = "<a href='#" + latinID +"'>" + latinLocation + "</a> ";
         if (!newContent.includes('href=\'#' + latinID + '\'') || latinLocations.length > 1) {
             const regex = new RegExp(latinLocation + "[^-(')(/a)]", "gi");
             newContent = newContent.replace(regex, "<span class='highlight'>" + formulatedLink + "</span>");
         }
     });
 }
// newContent.replace("<br>", "<br>");
 content.innerHTML = newContent;
</script>
