---
---
<main class="block" id="text-header">
    <h1>The Aeneid IV (331-340)</h1>
    <p>By <span id="text-author">Virgil</span></p>
    <a id="toggle-language" class="button card" href="#~">Toggle Latin/English</a>
</main>
<section class="block text-lines" id="text-content">
    <p>Dixerat. Ille Iovis monitis immota tenebat\ nlumina, et obnixus curam sub corde premebat. <br>Tandem pauca refert: &#x27;Ego te, quae plurima fando <br>enumerare vales, numquam, regina, negabo <br>promeritam; nec me meminisse pigebit Elissae,<br>dum memor ipse mei, dum spiritus hos regit artus.<br>Pro re pauca loquar. Neque ego hanc abscondere furto<br>speravi—-ne finge—-fugam, nec coniugis umquam<br>praetendi taedas, aut haec in foedera veni.<br>Me si fata meis paterentur ducere vitam</p>
</section>
<section class="block text-lines" id="text-translation">
    <p>So she had spoken. He was holding his eyes fixed because<br>of the orders of Jupiter, he struggled to press his distress under his heart.<br>Finally he gave a brief reply: &quot;I will never deny, queen<br>that you deserve the utmost you could set out in speech: nor will it be unpleasant to me to remember Dido<br>so long as I am myself, while breath controls these limbs.<br>I will say a few things for my case. I did not hope to deceitfully<br>conceal my flight - do not imagine it! Neither did I ever<br>hold the torch of a bridegroom, or enter into these agreements<br>if fate allowed me to lead my life&quot;<br></p>
</section>
<section class="block" id="text-analyses">
    <h1>Summary of analyses</h1>
    
    
    <div class="card quotation" id="tenebat-lumina">
        <h2>tenebat \ lumina</h2>
        
        <div class="annotation">
            <h3>Enjambement: </h3><p>Aeneas&#x27; fixed eyes straddle two line - &#x27;fixing&#x27; them together
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="tenebat-premebat-fando-negabo">
        <h2>tenebat | premebat | fando | negabo</h2>
        
        <div class="annotation">
            <h3>Rhyme: </h3><p>Shows poetic qualities and Aeneas&#x27; rhythm and structure
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="pro-re-pauca-loquor-tandem-pauca-referet">
        <h2>pro re pauca loquor | tandem pauca referet</h2>
        
        <div class="annotation">
            <h3>Contrast: </h3><p>Aeneas uses straightforward, legalistic language to seem unemotional and pragmati
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="ego-te">
        <h2>ego te</h2>
        
        <div class="annotation">
            <h3>Hyperbaton: </h3><p>Draws &#x27;I&#x27; and &#x27;you&#x27; together, showing flickers of Aeneas&#x27; love for Dido
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="ipse-mei">
        <h2>ipse | mei</h2>
        
        <div class="annotation">
            <h3>Personal Pronouns: </h3><p>Reinforces himself and his fate&#x27;s importance
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="ne-finge">
        <h2>ne finge</h2>
        
        <div class="annotation">
            <h3>Interjection: </h3><p>Reinforces meaning and shows Aeneas&#x27; want for Dido to be at ease
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="praetendi-taedas-aut-haec-in-foedera-veni">
        <h2>praetendi taedas, aut haec in foedera veni</h2>
        
        <div class="annotation">
            <h3>Spondees: </h3><p>Repetitive and slow rhythm emphasises the legalism of Aeneas&#x27; language
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="vitam">
        <h2>vitam</h2>
        
        <div class="annotation">
            <h3>Emphatic Word Order: </h3><p>his &#x27;will&#x27; (in next passage), shuts off the end from his &#x27;life&#x27; (&#x27;vitam&#x27;)
</p>
        </div>
        
    </div>
    
</section>
<a id="backtotop" class="button" href="#">Top</a>
<script>
 const toggle_language = document.querySelector("#toggle-language");
 const latin = document.querySelector("#text-content");
 const english = document.querySelector("#text-translation");

 function toggleLanguage() {
     if (latin.style.display == "none" && english.style.display == "block") {
         latin.style.display = "block";
         english.style.display = "none";
     } else {
         latin.style.display = "none";
         english.style.display = "block";
     }
 }
 toggle_language.addEventListener("click", toggleLanguage);

 const infoAnnotations = document.querySelector("#info-annotations");
 const annotations = document.querySelectorAll(".annotation");
 const content = document.querySelector("#text-content p");
 var newContent = content.innerHTML;

 for (var i = 0, a; a = annotations[i]; i++) {
     var latinLocations = a.parentNode.querySelector("h2").innerHTML.split(' | ');
     var latinID = a.parentNode.id;

     latinLocations.forEach(function(latinLocation) {
         latinLocation = latinLocation.replace(" \\ ", "<br>");
         var formulatedLink = "<a href='#" + latinID +"'>" + latinLocation + "</a> ";
         if (!newContent.includes('href=\'#' + latinID + '\'') || latinLocations.length > 1) {
             const regex = new RegExp(latinLocation + "[^-(')(/a)]", "gi");
             newContent = newContent.replace(regex, "<span class='highlight'>" + formulatedLink + "</span>");
         }
     });
 }
// newContent.replace("<br>", "<br>");
 content.innerHTML = newContent;
</script>
