---
---
<main class="block" id="text-header">
    <h1>Boudicca&#x27;s Rebellion III</h1>
    <p>By <span id="text-author">Tacitus</span></p>
    <a id="toggle-language" class="button card" href="#~">Toggle Latin/English</a>
</main>
<section class="block text-lines" id="text-content">
    <p>ac primum legio gradu immota et angustiis loci defensa, postquam in appropinquantes hostes certo iactu tela exhauserat, tamquam cuneo, erupit. auxilliares quoque impetum faciunt; et equites protentis hastis perfringunt quod obvium et validum erat. ceteri terga praebuerunt, difficili effugio, quia circumiecta plaustra saepserant abitus. et milites ne feminis quidem parcebant, confixaque telis etiam iumenta corproum cumulum auxerant. eo die, milites laudem claram et parem antiquis victoriis pepererunt: quippe sunt qui paulo minus quam octoginta milia Britannorum cecidisse tradant, militum quadringentis ferme interfectis nec multo amplius vulnerates. Boudica vitam veneo finit.</p>
</section>
<section class="block text-lines" id="text-translation">
    <p>And first the legion, unmoved from its position and defended by the narrowness of the place, after it had used up its javelines on the approaching enemy with sure aim, charged as a wedge formation. The auxilliaries also made an attacka nd the cavalry, with spears at full stretch, broke through whatever was in the way and strong. The rest turned tail in a difficult escape, because the surrounding wagons had closed off the way out. And our soldiers spared not even the women, and pierced by the javelins even the baggage animals had increased the heap of bodies. On that day the soldiers won glory which was distinguished and equal to ancient victories. Indeed, there are those who report that little fewer than eighty thousand Britons died and that about four hundred of our soldiers were killed and not much more than four hundred were wounded. Boudica ended her life with poison.<br></p>
</section>
<section class="block" id="text-analyses">
    <h1>Summary of analyses</h1>
    
    
    <div class="card quotation" id="tamquam-cuneo">
        <h2>tamquam cuneo</h2>
        
        <div class="annotation">
            <h3>Comparison: </h3><p>Tacitus uses this description to help the reader visualise the Romans&#x27; attack; vivid imagery enhancements!
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="auxilliares-quoque-impetum-faciunt">
        <h2>auxilliares quoque impetum faciunt</h2>
        
        <div class="annotation">
            <h3>Short Sentence: </h3><p>Highlights the impact of the auxilliaries being immediate
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="et-equites-protentis-hastis">
        <h2>et equites protentis hastis</h2>
        
        <div class="annotation">
            <h3>Alliteration: </h3><p>The repeated &#x27;t&#x27; sound reflects the harsh striking of the spears and emphasises their impact
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="saepserant-abitus">
        <h2>saepserant abitus.</h2>
        
        <div class="annotation">
            <h3>Hyperbaton: </h3><p>The way out is literally shut off by this phrase at the end of the sentence, making the imagery more vivid
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="eo-die">
        <h2>eo die</h2>
        
        <div class="annotation">
            <h3>Time Phrase: </h3><p>Emphasises the brutal efficiency of the Roman army. They manage to carry out the attack in just one day
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="tradant">
        <h2>tradant</h2>
        
        <div class="annotation">
            <h3>Style: </h3><p>Meaning &#x27;report&#x27;, this is the classic Tacitean trait of recording a rumour and passing it as fact in order to aid his persuasion.
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="boudica-vitam-veneo-finivit">
        <h2>Boudica vitam veneo finivit</h2>
        
        <div class="annotation">
            <h3>Short Sentence: </h3><p>The brevity of the sentence emphasises the closure that her death brought, giving finality to all her actions
</p>
        </div>
        
    </div>
    
</section>
<a id="backtotop" class="button" href="#">Top</a>
<script>
 const toggle_language = document.querySelector("#toggle-language");
 const latin = document.querySelector("#text-content");
 const english = document.querySelector("#text-translation");

 function toggleLanguage() {
     if (latin.style.display == "none" && english.style.display == "block") {
         latin.style.display = "block";
         english.style.display = "none";
     } else {
         latin.style.display = "none";
         english.style.display = "block";
     }
 }
 toggle_language.addEventListener("click", toggleLanguage);

 const infoAnnotations = document.querySelector("#info-annotations");
 const annotations = document.querySelectorAll(".annotation");
 const content = document.querySelector("#text-content p");
 var newContent = content.innerHTML;

 for (var i = 0, a; a = annotations[i]; i++) {
     var latinLocations = a.parentNode.querySelector("h2").innerHTML.split(' | ');
     var latinID = a.parentNode.id;

     latinLocations.forEach(function(latinLocation) {
         latinLocation = latinLocation.replace(" \\ ", "<br>");
         var formulatedLink = "<a href='#" + latinID +"'>" + latinLocation + "</a> ";
         if (!newContent.includes('href=\'#' + latinID + '\'') || latinLocations.length > 1) {
             const regex = new RegExp(latinLocation + "[^-(')(/a)]", "gi");
             newContent = newContent.replace(regex, "<span class='highlight'>" + formulatedLink + "</span>");
         }
     });
 }
// newContent.replace("<br>", "<br>");
 content.innerHTML = newContent;
</script>
