---
---
<main class="block" id="text-header">
    <h1>The Aeneid IV (279-287)</h1>
    <p>By <span id="text-author">Virgil</span></p>
    <a id="toggle-language" class="button card" href="#~">Toggle Latin/English</a>
</main>
<section class="block text-lines" id="text-content">
    <p>At vero Aeneas aspectu obmutuit amens,<br>arrectaeque horrore comae et vox faucibus haesit.<br>ardet abire fuga dulcisque relinquere terras,<br>attonitus tanto monitu imperioque deorum.<br>heu quid agat? quo nunc reginam ambire furentem<br>audeat adfatu? quae prima exordia sumat?<br>atque animum nunc huc celerem nunc dividit illuc <br>in partisque rapit varias perque omnia versat.<br>haec alternanti potior sententia visa est:</p>
</section>
<section class="block text-lines" id="text-translation">
    <p>Indeed, Aeneas was struck down by the sight<br>his hair stood up in terror and his voice stuck in his throat.<br>He burns to leave in flight and to leave the sweet lands<br>So grave a warning by the power of the gods - struck him like a thunder bolt.<br>Alas, what was he to do? With what form of address is he to approach the frenzied queen?<br>What beginnings was he to assume?<br>And now, he divided his swift mind, now here, not there,<br>he darting in different directions and considering all the possibilities<br>alternating, this opinion seemed preferable to him:<br></p>
</section>
<section class="block" id="text-analyses">
    <h1>Summary of analyses</h1>
    
    
    <div class="card quotation" id="horrore-comae-et-vox-faucibus">
        <h2>horrore comae et vox faucibus</h2>
        
        <div class="annotation">
            <h3>Chiasmus: </h3><p>The voice (&#x27;vox&#x27;) and the hair (&#x27;comae&#x27;) are both affected, and this is emphasised with the balanced structure as they are surrounded by their verbs
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="ardet">
        <h2>ardet</h2>
        
        <div class="annotation">
            <h3>Promoted Verb: </h3><p>Emphasises Aeneas&#x27; burning desire (&#x27;ardet&#x27;) to leave and his frantic thinking in this time
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="abire">
        <h2>abire</h2>
        
        <div class="annotation">
            <h3>Alliteration: </h3><p>The &#x27;a&#x27; letter connects Aeneas&#x27; desire (&#x27;ardet&#x27;) to the leaving (&#x27;abire&#x27;)
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="reginam-ambire">
        <h2>reginam ambire</h2>
        
        <div class="annotation">
            <h3>Ellision: </h3><p>Connects the queen (&#x27;reginam&#x27;) to the approach (&#x27;ambire&#x27;) emphasising the immediacy of said approach
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="quid">
        <h2>quid</h2>
        
        <div class="annotation">
            <h3>Tricolon: </h3><p>Tricolon of questions shows Aeneas&#x27; uncertainty
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="prima-exordia">
        <h2>prima exordia</h2>
        
        <div class="annotation">
            <h3>Tautology: </h3><p>Virgil emphasises the tentative nature of Aeneas with this unnecessary emphasis
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="nunc-dividit-illuc">
        <h2>nunc dividit illuc</h2>
        
        <div class="annotation">
            <h3>Emphatic Word Order: </h3><p>Aeneas&#x27; thoughts are divided by &#x27;dividit&#x27; and, emphasising the division of his thoughts he has made
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="nunc-huc">
        <h2>nunc huc</h2>
        
        <div class="annotation">
            <h3>Repetition: </h3><p>Continued use of &#x27;nunc&#x27; (now) shows Aeneas&#x27; chaotic thought
</p>
        </div>
        
    </div>
    
</section>
<a id="backtotop" class="button" href="#">Top</a>
<script>
 const toggle_language = document.querySelector("#toggle-language");
 const latin = document.querySelector("#text-content");
 const english = document.querySelector("#text-translation");

 function toggleLanguage() {
     if (latin.style.display == "none" && english.style.display == "block") {
         latin.style.display = "block";
         english.style.display = "none";
     } else {
         latin.style.display = "none";
         english.style.display = "block";
     }
 }
 toggle_language.addEventListener("click", toggleLanguage);

 const infoAnnotations = document.querySelector("#info-annotations");
 const annotations = document.querySelectorAll(".annotation");
 const content = document.querySelector("#text-content p");
 var newContent = content.innerHTML;

 for (var i = 0, a; a = annotations[i]; i++) {
     var latinLocations = a.parentNode.querySelector("h2").innerHTML.split(' | ');
     var latinID = a.parentNode.id;

     latinLocations.forEach(function(latinLocation) {
         latinLocation = latinLocation.replace(" \\ ", "<br>");
         var formulatedLink = "<a href='#" + latinID +"'>" + latinLocation + "</a> ";
         if (!newContent.includes('href=\'#' + latinID + '\'') || latinLocations.length > 1) {
             const regex = new RegExp(latinLocation + "[^-(')(/a)]", "gi");
             newContent = newContent.replace(regex, "<span class='highlight'>" + formulatedLink + "</span>");
         }
     });
 }
// newContent.replace("<br>", "<br>");
 content.innerHTML = newContent;
</script>
