{{ define "main" }}
<section class="block">
    {{ .Content }}
</section>
<script>
    let level = window.localStorage.getItem("level")
    let wordsJSON;
    if (level == "GCSE") {
        wordsJSON = '{{ readFile "/data/words/gcse.json" }}';
    } else {
        wordsJSON = '{{ readFile "/data/words/alevel.json" }}';
    }
</script>
{{ end }}
