---
---
<main class="block" id="text-header">
    <h1>The Aeneid IV (351-361)</h1>
    <p>By <span id="text-author">Virgil</span></p>
    <a id="toggle-language" class="button card" href="#~">Toggle Latin/English</a>
</main>
<section class="block text-lines" id="text-content">
    <p>Me patris Anchisae, quotiens umentibus umbris <br>nox operit terras, quotiens astra ignea surgunt, <br>admonet in somnis et turbida terret imago; <br>me puer Ascanius capitisque iniuria cari, <br>quem regno Hesperiae fraudo et fatalibus arvis. <br>Nunc etiam interpres divom, Iove missus ab ipso--- <br>testor utrumque caput---celeris mandata per auras <br>detulit; ipse deum manifesto in lumine vidi <br>intrantem muros, vocemque his auribus hausi. <br>Desine meque tuis incendere teque querelis: <br>Italiam non sponte sequor.&#x27;</p>
</section>
<section class="block text-lines" id="text-translation">
    <p>The troubled shade of my father, as often as night covers <br>the lands in dewy darkness, as often as the fiery stars alight<br>he admonishes and terrifies me in my sleep<br>My son Ascanius, and the injury of someone dear, occurs to me<br>whom I cheat of the rule of the Hesperian Kingdom<br>and of his destined lands<br>Now even the messenger of the gods, sent by Jupiter himself<br>I swear by both of our lives - bought down the orders through<br>the swift breezes, I myself saw the god in the light of day,<br>entering the city walls, I drank in the voice through these ears<br>Cease to set both of us aflame with your lamenting complaints.<br>I do not seek Italy of my own will&quot;<br></p>
</section>
<section class="block" id="text-analyses">
    <h1>Summary of analyses</h1>
    
    
    <div class="card quotation" id="me-patris-anchisae-me-puer-ascanius-interpres">
        <h2>me patris Anchisae | me puer Ascanius | interpres</h2>
        
        <div class="annotation">
            <h3>Tricolon: </h3><p>three people telling Aeneas what he ought to do to abide by his fate, supporting his arguments to leave
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="quotiens-quotiens">
        <h2>quotiens | , quotiens</h2>
        
        <div class="annotation">
            <h3>Anaphora: </h3><p>shows Aeneas&#x27; order, regularity, and, ultimately, pietas
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="umentibus-umbris">
        <h2>umentibus umbris</h2>
        
        <div class="annotation">
            <h3>Alliteration: </h3><p>shows the elegance of Aeneas&#x27; language and his clear thinking
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="nox">
        <h2>nox</h2>
        
        <div class="annotation">
            <h3>Juxtoposition: </h3><p>the contrast between dark and light is emphasised by the line-break, representing Juno versus Jupiter
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="admonet">
        <h2>admonet</h2>
        
        <div class="annotation">
            <h3>Promoted Verb: </h3><p>the seriousness of the admonishing to Aeneas is shown through the verb being brought to the front
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="turbida-terret">
        <h2>turbida terret</h2>
        
        <div class="annotation">
            <h3>Alliteration: </h3><p>the link between sleep (&#x27;turbida&#x27;) and his terror (&#x27;terret&#x27;), enhances the vivid imagery of the admonishing
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="celeris-mandata-per-auras">
        <h2>celeris mandata per auras</h2>
        
        <div class="annotation">
            <h3>Enclosing Word Order: </h3><p>encloses the order (&#x27;mandata&#x27;) between the swiftness (&#x27;celeris&#x27;) and the grace (&#x27;auras&#x27;), enhancing the imagery of Mercury
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="detulit">
        <h2>detulit</h2>
        
        <div class="annotation">
            <h3>Enjambement: </h3><p>orders are literally carried down the lines, on to the next line
</p>
        </div>
        
    </div>
    
</section>
<a id="backtotop" class="button" href="#">Top</a>
<script>
 const toggle_language = document.querySelector("#toggle-language");
 const latin = document.querySelector("#text-content");
 const english = document.querySelector("#text-translation");

 function toggleLanguage() {
     if (latin.style.display == "none" && english.style.display == "block") {
         latin.style.display = "block";
         english.style.display = "none";
     } else {
         latin.style.display = "none";
         english.style.display = "block";
     }
 }
 toggle_language.addEventListener("click", toggleLanguage);

 const infoAnnotations = document.querySelector("#info-annotations");
 const annotations = document.querySelectorAll(".annotation");
 const content = document.querySelector("#text-content p");
 var newContent = content.innerHTML;

 for (var i = 0, a; a = annotations[i]; i++) {
     var latinLocations = a.parentNode.querySelector("h2").innerHTML.split(' | ');
     var latinID = a.parentNode.id;

     latinLocations.forEach(function(latinLocation) {
         latinLocation = latinLocation.replace(" \\ ", "<br>");
         var formulatedLink = "<a href='#" + latinID +"'>" + latinLocation + "</a> ";
         if (!newContent.includes('href=\'#' + latinID + '\'') || latinLocations.length > 1) {

             const regex = new RegExp(latinLocation + "[^-(')(/a)]", "gi");
             newContent = newContent.replace(regex, "<span class='highlight'>" + formulatedLink + "</span>");
         }
     });
 }
// newContent.replace("<br>", "<br>");
 content.innerHTML = newContent;
</script>
