{{ define "main" }}
<main class="block" id="search-section">
    <div id="search-body">
        <input autocomplete="off" tabindex=1 autofocus="autofocus" type="text" id="search" name="search"
            placeholder="e.g amicus, amici, m">
        <a href="#" id="search-more-options">Filter</a>
    </div>
    <div id="search-select">
        <label for="category_selector" id="filter-category">Filter by type: </label>
        <select id="category_selector" name="category_selector">
            <option value="all">All</option>
            <option value="adj">Adjectives</option>
            <option value="adverb">Adverbs</option>
            <option value="noun">Nouns</option>
            <option value="verb">Verbs</option>
        </select>
    </div>
    <div id="search-results"></div>
</main>
<script>
    const moreButton = document.querySelector("a#search-more-options");
    const filters = document.querySelector("div#search-select");
    const searchInput = document.querySelector("#search");
    const results = document.querySelector("#search-results");

    let wordsJSON;
    let level = window.localStorage.getItem("level");
    if (level == "GCSE") {
        wordsJSON = '{{ readFile "/data/words/gcse.json" }}';
    } else {
        wordsJSON = '{{ readFile "/data/words/alevel.json" }}';
    }

    const words = JSON.parse(wordsJSON);
    const categorySelector = document.querySelector("select#category_selector");

    function showFilters() {
        if (filters.style.display === "none" || filters.style.display === "") {
            filters.style.display = "block";
        } else {
            filters.style.display = "none";
        }
    }

    function searchWords(user_input, words) {
        let userSelectedCategory = document.querySelector("select#category_selector").value;
        let isCategoryMatch;
        let i = 0;

        var result = words.filter(function (word) {
            const regex = new RegExp(user_input, "gi");

            if (userSelectedCategory == "all") {
                isCategoryMatch = true
            } else {
                isCategoryMatch = word.type.includes(userSelectedCategory)
            }

            if (user_input == "") {
                return isCategoryMatch;
            } else {
                return (word.english.match(regex) || word.latin.match(regex)) && isCategoryMatch;
            }
        });
        return result;
    }

    function showWords() {
        if (searchInput.value.length > 1) {
            const currentElem = searchInput.value.toLowerCase()
            const matches = searchWords(searchInput.value, words)
            const html = matches.map(function (word) {
                const regex = new RegExp(currentElem, "gi");
                const latinWord = word.latin.replace(regex, "<span class='hl'>" + currentElem + "</span>");
                const englishWord = word.english.replace(regex, "<span class='hl english'>" + currentElem + "</span>");
                return "<div class='word card'> \
        <h2 class='definition'>" + latinWord + ": <span class='english'>" + englishWord + "</span></h2>&nbsp;<h3 class='type'>(" + word.type + ")</h3>\
    </div>\
        "
            }).join("");

            results.innerHTML = html;
        } else {
            results.innerHTML = "";
        }
    }

    moreButton.addEventListener("click", showFilters);
    categorySelector.addEventListener("change", showWords);
    searchInput.addEventListener("keyup", showWords);
</script>
{{ end }}
