---
---
<main class="block" id="text-header">
    <h1>The Aeneid IV (341-350)</h1>
    <p>By <span id="text-author">Virgil</span></p>
    <a id="toggle-language" class="button card" href="#~">Toggle Latin/English</a>
</main>
<section class="block text-lines" id="text-content">
    <p>auspiciis et sponte mea componere curas, <br>urbem Troianam primum dulcisque meorum <br>reliquias colerem, Priami tecta alta manerent, <br>et recidiva manu posuissem Pergama victis. <br>Sed nunc Italiam magnam Gryneus Apollo, <br>Italiam Lyciae iussere capessere sortes: <br>hic amor, haec patria est.  Si te Karthaginis arces, <br>Phoenissam, Libycaeque aspectus detinet urbis, <br>quae tandem, Ausonia Teucros considere terra, <br>invidia est?  Et nos fas extera quaerere regna.</p>
</section>
<section class="block text-lines" id="text-translation">
    <p>and to arrage my concerns according to my will <br>first I would take care of the city of Troy and its <br>sweet remenants, the lofty house of Priam would remain, <br>I would have set up a revived Pergama for the conquered. <br>But now the Lycian Apollo has ordered me <br>to claim the great Italy, and &#x27;Italy&#x27; is cast on the lots. <br>This is my love, this is my fatherland. If the citadels of <br>Carthage and the appearance of the Libyan city detains you, a Phoenician, <br>then what reason is there to begrudge the Trojans settling <br>in Ausonian land? It is right for us to search for a foreign kingdom<br></p>
</section>
<section class="block" id="text-analyses">
    <h1>Summary of analyses</h1>
    
    
    <div class="card quotation" id="italiam">
        <h2>Italiam</h2>
        
        <div class="annotation">
            <h3>Repetition: </h3><p>forefronts in the mind of the reader the &#x27;chosen land&#x27; of the Trojans
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="iussere-capessere">
        <h2>iussere capessere</h2>
        
        <div class="annotation">
            <h3>Homeoteuleuton: </h3><p>magnifies the importance of the order given from Mercury to Aeneas; dramatic
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="hic-amor-haec-patria-est">
        <h2>hic amor, haec patria est</h2>
        
        <div class="annotation">
            <h3>Foreshadowing: </h3><p>this phrase is later used in Book VI by the Sybil
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="amor">
        <h2>amor</h2>
        
        <div class="annotation">
            <h3>Emphatic Word Choice: </h3><p>Aeneas uses this word to show duty, meanwhile Dido uses it to mean love
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="ausonia-teucros">
        <h2>Ausonia Teucros</h2>
        
        <div class="annotation">
            <h3>Juxtoposition: </h3><p>shows the future invasion of Italy by the Trojans by bringing the two opposing words together
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="ausonia-teucros-considere-terra">
        <h2>Ausonia Teucros considere terra</h2>
        
        <div class="annotation">
            <h3>Enclosing Word Order: </h3><p>the Ausonian (&#x27;Ausonia&#x27;) land (&#x27;terra&#x27;) surround the Trojans (&#x27;Teucros&#x27;), shows the fate of the Trojans
</p>
        </div>
        
    </div>
    
</section>
<a id="backtotop" class="button" href="#">Top</a>
<script>
 const toggle_language = document.querySelector("#toggle-language");
 const latin = document.querySelector("#text-content");
 const english = document.querySelector("#text-translation");

 function toggleLanguage() {
     if (latin.style.display == "none" && english.style.display == "block") {
         latin.style.display = "block";
         english.style.display = "none";
     } else {
         latin.style.display = "none";
         english.style.display = "block";
     }
 }
 toggle_language.addEventListener("click", toggleLanguage);

 const infoAnnotations = document.querySelector("#info-annotations");
 const annotations = document.querySelectorAll(".annotation");
 const content = document.querySelector("#text-content p");
 var newContent = content.innerHTML;

 for (var i = 0, a; a = annotations[i]; i++) {
     var latinLocations = a.parentNode.querySelector("h2").innerHTML.split(' | ');
     var latinID = a.parentNode.id;

     latinLocations.forEach(function(latinLocation) {
         latinLocation = latinLocation.replace(" \\ ", "<br>");
         var formulatedLink = "<a href='#" + latinID +"'>" + latinLocation + "</a> ";
         if (!newContent.includes('href=\'#' + latinID + '\'') || latinLocations.length > 1) {
             const regex = new RegExp(latinLocation + "[^-(')(/a)]", "gi");
             newContent = newContent.replace(regex, "<span class='highlight'>" + formulatedLink + "</span>");
         }
     });
 }
// newContent.replace("<br>", "<br>");
 content.innerHTML = newContent;
</script>
