---
---
<main class="block" id="text-header">
    <h1>Boudicca&#x27;s Rebellion I</h1>
    <p>By <span id="text-author">Tacitus</span></p>
    <a id="toggle-language" class="button card" href="#~">Toggle Latin/English</a>
</main>
<section class="block text-lines" id="text-content">
    <p>rex Icenorum Prasutagus, divitiis diu clarus, Caesarem heredem duasque filias scripserat, tali obsequio ratus et regnum et domum suam procul iniuria futuram esse, quod contra vertit, adeo ut regnum a centurionibus, domus a servi velut capta vastarentur, iam primum uxor eius Boudica verberata et filiae stupro violatae sunt: principes omnes Icenorum, quasi Romani totam regionem muneri accepissent, avitis bonis exuuntur, et propinqui regis inter servos habebantur. qua contumelia et metu graviorum permoti, quod in formam provinciae cesserant, rapiunt arma; commoti sunt ad rebellionem Trinobantes et qui alii, nondum servitio fracti, recipere libertatem occultis coniurationibus pepigerant. acerrium in verteranos odium; qui in coloniam Camulodunum nuper deducti pellebant domibus Trinobantes, exturbabant agris, captivos vel servos appellabant; militesque superbiam saevitiamque veteranorum incitabant similitudine vitae et spe eiusdem licentiate. Ad hoc, templum divo Claudio exstructum quasi arx aeternae dominationis aspiciebatur, electique sacerdotes specie religionis omnes fortunas suas effundebant. nec difficile videabutr delere coloniam nullis munimentis saeptam; quod ducibus nostris parum provisum erat, cum amoenitati prius quam usui consuluissent.</p>
</section>
<section class="block text-lines" id="text-translation">
    <p>The King of the Iceni tribe, Prasutagus, famous for his prosperity for a long time, wrote that Caesar and his two daughters would be his heirs, thinking that with such a great submission, injustice would be far from both his kingdom and his home. This turned against him, so much so that his kingdom was plundered by centurions and the house by slaves as if they were war spoils. At first, Boudica was beaten and the daughters were violated through rape: all the Iceni chiefs were deprived of their ancestral gods, as if the Romans had taken the whole region as a gift, and the relatives of the king were held amoungst the slaves. Having been moved by this humiliation and fear of worse things to come, because they had fallen into the form of a province, they took up arms; the Trinobantes were moved to rebellion and those, who had not yet been broken by slavery, pledged themselves to take back freedom through secret conspiracies.<br></p>
</section>
<section class="block" id="text-analyses">
    <h1>Summary of analyses</h1>
    
    
    <div class="card quotation" id="caesarem-heredem-duasque-filias">
        <h2>Caesarem heredem duasque filias</h2>
        
        <div class="annotation">
            <h3>Enclosing Word order: </h3><p>Forshadows the future dispute over who is the heir. The heir (&#x27;heredem&#x27;) is surrounded on both sides by Caesar and the two daughters (&#x27;duasque filias&#x27;)
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="regnum-a-centurionibus-domus-a-servis">
        <h2>regnum a centurionibus, domus a servis</h2>
        
        <div class="annotation">
            <h3>Parallelism: </h3><p>The balanced structure emphasises the preparedness of the Roman army in their attack
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="vastarentur-verberata-violatae-sunt">
        <h2>vastarentur | verberata | violatae sunt</h2>
        
        <div class="annotation">
            <h3>Tricolon: </h3><p>The tricolon of &#x27;vastarentur&#x27; (plundered), &#x27;verberata&#x27; (beaten), and &#x27;violatae&#x27; (raped) - verbs of aggression - emphasise the great damage done to the Iceni by the Romans. The &#x27;v&#x27; sound links them
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="avitis-bonis">
        <h2>avitis bonis</h2>
        
        <div class="annotation">
            <h3>Fractured Syntax: </h3><p>Emphasises the separation between the Iceni chiefs (&#x27;principes omnes Icenorum&#x27;) and their ancestral goods
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="cesserant-rapiunt">
        <h2>cesserant, rapiunt</h2>
        
        <div class="annotation">
            <h3>Juxtaposition: </h3><p>Forces the reader to see how the Iceni were faced with adverse circumstances, but acted upon them instead of becoming victims
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="servitio">
        <h2>servitio</h2>
        
        <div class="annotation">
            <h3>Antithesis: </h3><p>This is a direct opposite to &#x27;libertatem&#x27; (freedom), creating suspense and anticipation for the two potential outcomes of the conflict (slavery or freedom)
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="acerrimum-in-verteranos-odium">
        <h2>acerrimum in verteranos odium</h2>
        
        <div class="annotation">
            <h3>Enclosing Word order: </h3><p>Bitter (&#x27;acerrimum&#x27;) and hatred (&#x27;odium&#x27;) surround the veterans (&#x27;verteranos&#x27;), inciting sympathy for the veterans
</p>
        </div>
        
        <div class="annotation">
            <h3>Short Sentence: </h3><p>Highlights the bitterness of the hatred, leaving only a short, sharp memory in the reader&#x27;s mind
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="pellebant-exturbabant-appellabant">
        <h2>pellebant | exturbabant | appellabant</h2>
        
        <div class="annotation">
            <h3>Tricolon: </h3><p>Driving (&#x27;pellebant&#x27;), expelling (&#x27;exturbabant&#x27;), and calling (&#x27;appellabant&#x27;), these verbs of force shows the Romans asserting their power of the land
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="superbiam-saevitiamque">
        <h2>superbiam saevitiamque</h2>
        
        <div class="annotation">
            <h3>Sibilance: </h3><p>Shows the savageness of the rage that has taken over the Trinobantes
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="similitudine-vitae-et-spe-eiusdem-licentiate">
        <h2>similitudine vitae et spe eiusdem licentiate</h2>
        
        <div class="annotation">
            <h3>Parallelism: </h3><p>Separated by &#x27;et&#x27;, the two phrases show the Romans&#x27; reasons for aggrevating the Trinobantes, suggesting a planned motive
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="sacerdotes-specie-religionis-omnes-fortunas-suas">
        <h2>sacerdotes specie religionis omnes fortunas suas</h2>
        
        <div class="annotation">
            <h3>Sibilance: </h3><p>The repeated &#x27;s&#x27; sound suggests the disapproval of Tacitus for the priest&#x27;s actions
</p>
        </div>
        
    </div>
    
    <div class="card quotation" id="coloniam-nullis-munimentis-saeptam">
        <h2>coloniam nullis munimentis saeptam</h2>
        
        <div class="annotation">
            <h3>Chiasmus: </h3><p>The fortification in the sentence (&#x27;munimentis&#x27;) is separated from the colony (&#x27;coloniam&#x27;), which is exposed at the beginning of the sentence
</p>
        </div>
        
    </div>
    
</section>
<a id="backtotop" class="button" href="#">Top</a>
<script>
 const toggle_language = document.querySelector("#toggle-language");
 const latin = document.querySelector("#text-content");
 const english = document.querySelector("#text-translation");

 function toggleLanguage() {
     if (latin.style.display == "none" && english.style.display == "block") {
         latin.style.display = "block";
         english.style.display = "none";
     } else {
         latin.style.display = "none";
         english.style.display = "block";
     }
 }
 toggle_language.addEventListener("click", toggleLanguage);

 const infoAnnotations = document.querySelector("#info-annotations");
 const annotations = document.querySelectorAll(".annotation");
 const content = document.querySelector("#text-content p");
 var newContent = content.innerHTML;

 for (var i = 0, a; a = annotations[i]; i++) {
     var latinLocations = a.parentNode.querySelector("h2").innerHTML.split(' | ');
     var latinID = a.parentNode.id;

     latinLocations.forEach(function(latinLocation) {
         latinLocation = latinLocation.replace(" \\ ", "<br>");
         var formulatedLink = "<a href='#" + latinID +"'>" + latinLocation + "</a> ";
         if (!newContent.includes('href=\'#' + latinID + '\'') || latinLocations.length > 1) {
             const regex = new RegExp(latinLocation + "[^-(')(/a)]", "gi");
             newContent = newContent.replace(regex, "<span class='highlight'>" + formulatedLink + "</span>");
         }
     });
 }
// newContent.replace("<br>", "<br>");
 content.innerHTML = newContent;
</script>
