---
description: ""
title: Pronouns
---
<section class="block" id="pronoun_test">
    <h1>Pronoun ("little words") Tester</h1>
    <select id="pronoun_select" name="pronoun">
        <option value="ego">ego, tu</option>
        <option value="hic">hic, haec, hoc</option>
        <option value="idem">idem, eadem, idem</option>
        <option value="ille">ille, illa, illud</option>
        <option value="ipse">ipse, ipsa, ipsum</option>
        <option value="is">is, ea, id</option>
        <option value="qui" selected>qui, quae, quod</option>
        <option value="quidam">quidam, quaedam, quoddam</option>
    </select>
    <div id="pronoun_results">
        <p id="pronouns_answered">Questions answered: <span id="answer_count">0</span></p>
        <p id="pronoun_score"></p>
        <p id="perfect_streak">Perfect streak: <span id="streak_count">0</span></p>
    </div>
    <h3 id="current_pronoun"></h3>
    <table id="pronoun__table">
        <thead>
            <tr>
                <th>Number</th>
                <th colspan="3">Singular</th>
            </tr>
            <tr class="tr_header">
                <th>Case \ Gender</th>
                <th>Masculine</th>
                <th>Feminine</th>
                <th>Neuter</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nom.</td>
                <td><input name="snomm" type="checkbox" value=""/></td>
                <td><input name="snomf" type="checkbox" value=""/></td>
                <td><input name="snomn" type="checkbox" value=""/></td>
            </tr>
            <tr>
                <td>Acc.</td>
                <td><input name="saccm" type="checkbox" value=""/></td>
                <td><input name="saccf" type="checkbox" value=""/></td>
                <td><input name="saccn" type="checkbox" value=""/></td>
            </tr>
            <tr>
                <td>Gen.</td>
                <td><input name="sgenm" type="checkbox" value=""/></td>
                <td><input name="sgenf" type="checkbox" value=""/></td>
                <td><input name="sgenn" type="checkbox" value=""/></td>
            </tr>
            <tr>
                <td>Dat.</td>
                <td><input name="sdatm" type="checkbox" value=""/></td>
                <td><input name="sdatf" type="checkbox" value=""/></td>
                <td><input name="sdatn" type="checkbox" value=""/></td>
            </tr>
            <tr>
                <td>Abl.</td>
                <td><input name="sablm" type="checkbox" value=""/></td>
                <td><input name="sablf" type="checkbox" value=""/></td>
                <td><input name="sabln" type="checkbox" value=""/></td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th>Number</th>
                <th colspan="3">Plural</th>
            </tr>
            <tr class="tr_header">
                <th>Case \ Gender</th>
                <th>Masculine</th>
                <th>Feminine</th>
                <th>Neuter</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nom.</td>
                <td><input name="pnomm" type="checkbox" value=""/></td>
                <td><input name="pnomf" type="checkbox" value=""/></td>
                <td><input name="pnomn" type="checkbox" value=""/></td>
            </tr>
            <tr>
                <td>Acc.</td>
                <td><input name="paccm" type="checkbox" value=""/></td>
                <td><input name="paccf" type="checkbox" value=""/></td>
                <td><input name="paccn" type="checkbox" value=""/></td>
            </tr>
            <tr>
                <td>Gen.</td>
                <td><input name="pgenm" type="checkbox" value=""/></td>
                <td><input name="pgenf" type="checkbox" value=""/></td>
                <td><input name="pgenn" type="checkbox" value=""/></td>
            </tr>
            <tr>
                <td>Dat.</td>
                <td><input name="pdatm" type="checkbox" value=""/></td>
                <td><input name="pdatf" type="checkbox" value=""/></td>
                <td><input name="pdatn" type="checkbox" value=""/></td>
            </tr>
            <tr>
                <td>Abl.</td>
                <td><input name="pablm" type="checkbox" value=""/></td>
                <td><input name="pablf" type="checkbox" value=""/></td>
                <td><input name="pabln" type="checkbox" value=""/></td>
            </tr>
        </tbody>
    </table>

    <input type="button" id="answer_button" value="Check Answer(s)"></input>
    <input type="button" id="next_button" value="Next"></input>
</section>
<script>
 let pronounsJSON = '{{ readFile "/data/pronouns.json"}}';
    const pronouns = JSON.parse(pronounsJSON);

    let currentPronoun;
    let isQuestionAnswered = false;
 let questionsDone = 0;
 let questionsCorrect = 0;
 let currentStreak = 0;
 let pronounType = "qui";

 const displayedCurrentPronoun = document.getElementById("current_pronoun");
 function setCurrentPronoun() {
     pronounType = pronounSelect.value;
     currentPronoun = pronouns[pronounType][pronouns[pronounType].length * Math.random() | 0];
     displayedCurrentPronoun.innerHTML = currentPronoun.latin;
 }

 const tableHeaders = document.getElementsByClassName("tr_header");
 function changeTableHeaders() {
     for (var i = 0; i < tableHeaders.length; i++) {
         if (pronounType == "ego") {
             tableHeaders[i].innerHTML = "<th>Case \\ Person</th>\
                <th>1st person</th>\
                <th>2nd person</th>\
                <th>3rd person</th>";
         } else {
             tableHeaders[i].innerHTML = "<th>Case \\ Gender</th>\
                             <th>Masculine</th>\
                             <th>Feminine</th>\
                             <th>Neuter</th>";
         }
     }
 }

 const pronounSelect = document.getElementById("pronoun_select");
 pronounSelect.addEventListener("change", function() {
     resetTable();
     setCurrentPronoun();
     changeTableHeaders();
     isQuestionAnswered = false;
 });

 document.addEventListener('DOMContentLoaded', function() {
     setCurrentPronoun();
 }, false);

 const answerButton = document.getElementById("answer_button");
 answerButton.addEventListener("click", function() {
     let checkedAnswers = getAnswersCorrect();
     displayResults(checkedAnswers);
     isQuestionAnswered = true;

     nextButton.style.display = "inline";
 });

 const nextButton = document.getElementById("next_button");
 nextButton.addEventListener("click", function() {
     resetTable();
     setCurrentPronoun();
     isQuestionAnswered = false;
 });

 /*  const table = document.getElementById("pronoun_table"); */
 function getAnswerSets() {
     const checkedBoxes = document.querySelectorAll('input[type=checkbox]:checked');
     let checkedAnswers = [];
     for (var i = 0; i < checkedBoxes.length; i++) {
         let answerSet = [];
         let checkboxName = checkedBoxes[i].name;
         answerSet.push(checkboxName.substring(0, 1));
         answerSet.push(checkboxName.substring(1, 4));
         answerSet.push(checkboxName.substring(4, 5));
         answerSet.push(checkedBoxes[i]);
         checkedAnswers.push(answerSet);
     }
     return checkedAnswers;
 }

 function getAnswersCorrect() {
     let answersCorrect = 0;
     let answersIncorrect = 0;
     const checkedAnswers = getAnswerSets();
     for (var i = 0; i < checkedAnswers.length; i++) {
         const answer = checkedAnswers[i];
         let wasAnswerFound = false;
         for (var j = 0; j < currentPronoun.parts.length; j++) {
             const part = currentPronoun.parts[j];
             if (part.number == answer[0] && part.gender == answer[2] && part.case == answer[1]) {
                 answer[3].parentElement.style.background = "lightgreen";
                 wasAnswerFound = true;
                 answersCorrect ++;
                 break;
             }
         }
         if (!wasAnswerFound) {
             answer[3].parentElement.style.background = "red";
             answersIncorrect ++;
         }
     }
     return {"correct": answersCorrect, "incorrect": answersIncorrect};
 }

 const score = document.getElementById("pronoun_score");
 const streak = document.getElementById("streak_count");
 const count = document.getElementById("answer_count");
 function displayResults(checkedAnswers) {
     score.innerHTML = "You got " + checkedAnswers.correct+  " out of " + currentPronoun.parts.length + " possible answers correct with " + checkedAnswers.incorrect+ " errors.";
     if (!isQuestionAnswered) {
         if (checkedAnswers.correct == currentPronoun.parts.length && checkedAnswers.incorrect == 0) {
             currentStreak ++;
         } else {
             currentStreak = 0;
         }
         questionsDone ++;
     }
     streak.innerHTML = currentStreak;
     count.innerHTML = questionsDone;
 }

 function resetTable() {
     const boxes = document.querySelectorAll('input[type=checkbox]');
     for (var i = 0; i < boxes.length; i++) {
         boxes[i].checked = false;
         boxes[i].parentElement.style.background = "none";
     }
     score.innerHTML = "";
     nextButton.style.display = "none";
 }
</script>
